.main-header
  .content
    .content__right
      RESTAURANT LIST
    .content__left
      = link_to "#", class: 'content__left--link' do
        ログイン
      = link_to "#", class: 'content__left--link' do
        新規登録

.main
  .main-view
    .contents
      .contents__top
        あなたのお気に入りのお店を集めよう
      .contents__text
        アプリの情報記載
  .shop-list
    %h2.shop-list__title
      みんなのおすすめ
    .lists
      .list


